@model IdentityExampleNetCore.Models.User
@{
    ViewData["Title"] = "Register";
}

<h1>User Registration Form in asp.net core mvc application</h1>  
<hr />  
  
<div class="row">  
    <div class="col-md-3">  
        <form asp-action="Register">  
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>  
              
            <div class="form-group">  
                <input asp-for="Name" class="form-control" />  
                <span asp-validation-for="Name" class="text-danger"></span>  
            </div>  
            <div class="form-group">  
                <input asp-for="Email" class="form-control" />  
                <span asp-validation-for="Email" class="text-danger"></span>  
            </div> 

            <div class="form-group">  
                <input asp-for="Password" class="form-control" type="password"/>  
                <span asp-validation-for="Password" class="text-danger"></span>  
            </div> 
                      
            <div class="form-group">  
                <input type="submit" value="Save User Details" class="btn btn-primary" />  
            </div>  
            <b>@ViewBag.message</b>
        </form>  
    </div>  
</div>  

<div>  
    <a asp-action="Index">Back to List</a>  
</div>  


@section Scripts{

}
